<h1>login</h1>

<div>
    <form id="loginForm">
        <label>Email</label><input name="email">
        <br>
        <label>Contraseña</label><input type="password" name="password">
        <input type="submit">
    </form>
</div>

<p>¿No tienes una cuenta? <a href="/register">Registrate</a></p>

<script src="/js/login.js"></script>